
/* Es una fuente que me gusta y la importo desde google fonts para que sea la base de mi proyecto, es al gusto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Es la regla de la fuente obtenida, la seteamos en la etiqueta body para que se globalize en mi proyecto */
body{
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    background: #ebebebde;;
    border: 2px;
}

header { /* Es el diseño que le pongo a mi cabecera que contiene la descripcion: Calculadora*/
    background: black;
    color: white;
    font-size: 23px;
    width: 60%;
    height: 40px;
    margin-left: 20%;
    text-align: center;
    padding-top: 9px;
    border-radius: 0px;
    font-weight: 700;
}

#idnumeros {
    background: #7fd49d;
    width: 60%;
    height: 54px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    color: black;
    border-radius: 0px;
}

#numero1 {
    width: 45%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    border-color: darkturquoise;
    background: ghostwhite;
}

#numero2 {
    width: 45%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    border-color: darkturquoise;
    background: ghostwhite;
}

.btnoperaciones {
    width: 58%;
    height: 40px;
    background: rgb(29, 71, 70);
    font-size: 30px;
    margin-left: 20%;
    padding-left: 2%;
}

#btnsumar {
    width: 8%;
    background: rgb(226, 178, 130);
    position: relative;
    margin-left: 29%;
    font-size: 21px;
    text-align: center;
    border-radius: 11px;
    padding-top: 1.3px;
    bottom: -3px;
    cursor: pointer;
    
}

#btnrestar {
    width: 8%;
    background: rgb(150, 131, 228);
    position: relative;
    left: 41%;
    bottom: 81%;
    font-size: 21px;
    text-align: center;
    padding-bottom: 2px;
    margin-left: -11px;
    border-radius: 11px;
    margin-top: 2.3px;
    cursor: pointer;
}

#btnmultiplicar {
    width: 8%;
    background: rgb(195, 213, 119);
    position: relative;
    left: 53%;
    bottom: 165%;
    font-size: 21px;
    text-align: center;
    padding-bottom: 2px;
    margin-left: -23px;
    border-radius: 11px;
    cursor: pointer;
}

#btndividir {
    width: 8%;
    background: rgb(121, 213, 255);
    position: relative;
    left: 65%;
    bottom: 255%;
    font-size: 21px;
    padding-bottom: 2px;
    text-align: center;
    margin-left: -35px;
    border-radius: 11px;
    margin-top: 2px;
    cursor: pointer;
}

/* En esta seccion procedo a definir un poco de animacion a los botones usando hover */

#btnsumar:hover { /* aplicamos para dar animacion usando el cambio del color inicial al elemento contacto */
    background: rgb(236, 235, 235);
    cursor: pointer; /* le doy un estilo al diseño del puntero */
}

#btnrestar:hover { /* aplicamos para dar animacion usando el cambio del color inicial al elemento contacto */
    background: rgb(236, 235, 235);
    cursor: pointer; /* le doy un estilo al diseño del puntero */
}

#btnmultiplicar:hover { /* aplicamos para dar animacion usando el cambio del color inicial al elemento contacto */
    background: rgb(236, 235, 235);
    cursor: pointer; /* le doy un estilo al diseño del puntero */
}

#btndividir:hover { /* aplicamos para dar animacion usando el cambio del color inicial al elemento contacto */
    background: rgb(236, 235, 235);
    cursor: pointer; /* le doy un estilo al diseño del puntero */
}

/* Footer, es un dato adicional que aprendí y deseo anexarlo como mi firma al pie del sitio */

footer {
    text-align: center;
    background-color: #d9d9da00;
    color: #222121;
    font-size: 12px;
    margin: 3px;
    width: 60%;
    margin-left: 20%;
    height: 13px;
    padding-bottom: 8px;
    font-style: oblique;
}

#HechoPor{
    font-weight: 700;
    text-align: center;
    list-style: none;   
    text-decoration: none;
    color: #691919;
}

#HechoPor:hover{
    background: rgb(255, 255, 16);
    color: black;
    -webkit-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    -moz-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
}