body{
    background: white;
    margin: inherit;
    padding: 3px;
    font-size: 14px;
}

#LogoSite{
    display: flex;
    width: 130px;
    float: left;
    height: 70px;
}

.LogoContent{
    display: flexbox;
    padding: 2px;
    margin: 4px;
}

.MenuServicios{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    gap: 45px;
    display: flex;
    text-transform:lowercase
    background-color: rgb(222, 186, 77);
    border: 1px solid rgb(255, 255, 255);
}

.MenuNav{ 
    text-decoration: none;
    padding: 5px 10; 
    margin: 3px;
    color: black;
}

footer{
    text-align: center;
    background-color: #7f754d;
    color: #ffffff;
    padding: 2em 0;
    font-weight: bold;
    font-size: 11px;
    margin: 3px;
}

#HechoPor{
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

#describir{
    font-size: 100px;
    background-color: beige;
    color: #7f754d;
    margin: 80px;
    border: 10px;
    padding: 90px;
}
.h1{
    font-size: 100px;
    background-color: beige;
    color: #7f754d;
    border: 10px;
    padding: 90px;
}